Source: cado
Section: admin
Priority: optional
Maintainer: Mattia Biondi <mattia.biondi3@studio.unibo.it>
Build-Depends: debhelper-compat (= 12), cmake (>= 2.6), libexecs-dev, libmhash-dev, libcap-dev, libpam0g-dev
Standards-Version: 4.4.0.1
Homepage: http://www.virtualsquare.org/
Vcs-Git: https://github.com/rd235/cado

Package: cado
Architecture: all
Depends: ${misc:Depends}
Description: Capability Ambient DO
 Cado permits the delegation of capabilities to users. Cado is a capability
 based sudo. Sudo allows authorized users to run programs as root (or as
 another user), cado permits authorized users to run programs with specific
 (ambient) capabilities.
